# ignore the virtual environment
venv

# ignore compiled python source files
*.pyc

# ignore sqlite database files
*.sqlite3

# Ignore test artifacts
src/.coverage
src/*.xml

# Ignore eggs
src/*egg-info

# Ignore build and test artifacts
target
reports